In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import keys
google_key = keys["google_maps"]

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,72.32,66,100,11.63,PF,2021-11-01 21:46:03
1,1,Brechin,56.7299,-2.6573,47.25,78,97,13.85,GB,2021-11-01 21:46:03
2,2,Mount Isa,-20.7333,139.5000,82.17,54,87,11.50,AU,2021-11-01 21:46:03
3,3,Albany,42.6001,-73.9662,51.75,46,37,6.15,US,2021-11-01 21:41:12
4,4,Malindi,-3.2175,40.1191,77.88,87,23,8.28,KE,2021-11-01 21:46:04

In [3]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = temps
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# ask the minimum and maximum temperature
min_temp = float(input("What would you like the minimum temperature to be? -- >  "))
max_temp = float(input("What would you like the maximum temperature to be? -- >  "))

What would you like the minimum temperature to be? -- >  75
What would you like the maximum temperature to be? -- >  95

In [11]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Mount Isa,-20.7333,139.5000,82.17,54,87,11.50,AU,2021-11-01 21:46:03
4,4,Malindi,-3.2175,40.1191,77.88,87,23,8.28,KE,2021-11-01 21:46:04
7,7,Rio Grande,-32.0350,-52.0986,77.11,88,100,15.46,BR,2021-11-01 21:44:47
19,19,Avarua,-21.2078,-159.7750,78.85,69,75,17.27,CK,2021-11-01 21:46:08
22,22,Vaini,-21.2000,-175.2000,80.76,89,75,9.22,TO,2021-11-01 21:46:09
23,23,Victoria,22.2855,114.1577,77.38,81,94,8.99,HK,2021-11-01 21:44:22
25,25,Kapaa,22.0752,-159.3190,82.47,74,20,1.99,US,2021-11-01 21:46:10
27,27,Bubaque,11.2833,-15.8333,82.76,76,74,14.03,GW,2021-11-01 21:46:10
31,31,Phalaborwa,-23.9430,31.1411,79.88,36,0,2.35,ZA,2021-11-01 21:46:11
33,33,Kieta,-6.2167,155.6333,83.28,70,77,0.98,PG,2021-11-01 21:46:12

IndexError: list index out of range

In [15]:
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try : 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError) : 
        print("Seems they aint got any none hotels in" + row["City"] + "  \_(0.0)_/")

Seems they aint got any none hotels inLahij  \_(0.0)_/
Seems they aint got any none hotels inAitape  \_(0.0)_/
Seems they aint got any none hotels inAwjilah  \_(0.0)_/
Seems they aint got any none hotels inPandan Niog  \_(0.0)_/
Seems they aint got any none hotels inSanta Cruz Del Sur  \_(0.0)_/
Seems they aint got any none hotels inEdd  \_(0.0)_/
Seems they aint got any none hotels inSaint-Louis  \_(0.0)_/
Seems they aint got any none hotels inThinadhoo  \_(0.0)_/

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Mount Isa,AU,82.17,-20.7333,139.5000,ibis Styles Mt Isa Verona
4,Malindi,KE,77.88,-3.2175,40.1191,African House Resort
7,Rio Grande,BR,77.11,-32.0350,-52.0986,Hotel Atlântico Rio Grande
19,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
22,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
23,Victoria,HK,77.38,22.2855,114.1577,Mini Hotel Central
25,Kapaa,US,82.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Bubaque,GW,82.76,11.2833,-15.8333,"Casa Dora, Bubaque"
31,Phalaborwa,ZA,79.88,-23.9430,31.1411,Bothabelo Bed and Breakfast
33,Kieta,PG,83.28,-6.2167,155.6333,Uruna Bay Retreat

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# checking for null values
hotel_df.isnu()

City          152
Country       152
Max Temp      152
Lat           152
Lng           152
Hotel Name    152
dtype: int64